name: Test Secret

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print FIREBASE_SERVICE_ACCOUNT
        run: |
          echo "$FIREBASE_SERVICE_ACCOUNT"
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
